.show-menu {
	.wrap-all-inner { left: 80%; }
}
.csstransforms3d {
	.wrap-all-inner {
		@include transition(transform 500ms ease);
		@include transform(translate3d(0,0,0));
		@include backface-visibility(hidden);
	}

	.side-nav {
		left: 0;
		@include transform(translate3d(-100%,0,0));
		@include backface-visibility(hidden);
	}

	.side-nav-container {
		@include transform(translate3d(-20%,0,0));
		@include backface-visibility(hidden);
		@include transition(transform 500ms ease 150ms);
	}

	&.show-menu {
		.wrap-all-inner {
			left: 0;
			@include transform(translate3d(80%,0,0));
		}

		.side-nav-container {
			@include transform(translate3d(0,0,0));
		}
	}
}

.side-nav {
	position: absolute;
	text-align: left;
	top: 0;
	width: 80%;
	height: 100%;
	left: -80%;
	z-index: -1;
	overflow: hidden;
	
	&:after {
		content: "";
		width: 20px;
		height: 100%;
		
		position: absolute;
		top: 0; right: 0;
		@include background-image(linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.1),rgba(0,0,0,0.3)));

		z-index: 10;
	}

	.side-nav-container {
		width: 120%;

		> ul { line-height: 30px; padding-top: 5px;
			li { padding: 0 20px; 
				a { text-decoration: none; display: block; }
			}
		}

		.side-nav-main {
			font-size: 16px;
			text-transform: uppercase;
			> li {
				padding: 5px 20px;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				box-shadow: 0 1px 0 rgba(255,255,255,0.1);
			}
		}
	}
}

/** THEME **/

.side-nav {
	font-family: $bodytext;
	background: url(/img/bg-dark.png);

	a { color: #ccc; }
	.active > a { color: #999; }

	.side-nav-main {
		background: url(/img/bg-m-dark.png);
		a { color: #fff; }
		.active > a { color: $hovercolor; font-family: $headertext; }
	}
}

#node1048 .side-nav-main li:nth-child(1),
#node1098 .side-nav-main li:nth-child(2),
#node1154 .side-nav-main li:nth-child(3),
#node1054 .side-nav-main li:nth-child(4),
#node1129 .side-nav-main li:nth-child(5),
#node1051 .side-nav-main li:nth-child(6) { > a { color: $hovercolor; font-family: $headertext; } }


