// OFF CANVAS ENABLE //
body {
	position: relative;
	width: 100%;

	.wrap-all {
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	.wrap-all-inner {
		position: relative;
		width: 100%;
		left: 0;
		z-index: 2;
	}
}

.main {
	overflow: auto;

	img { max-width: 100%; height: auto; }
}


a {
	@include transition(color 200ms linear);
}

.wrapper {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.content {
	width: 100%;

	ul { padding: 0 0 0 2em; }
}

.super-header { text-align: center; }

.main {
	> .wrapper {
		padding: 25px 10px;
	}
}

.btn {
	display: inline-block;
	border-radius: 3px;
	padding: 4px 10px;
	text-transform: uppercase;
	text-decoration: none;

	&.btn-full-width { width: 100%; text-align: center; }
}


/** THEME **/
body {
	.wrap-all-inner {
		background-color: #fff;
	}
}

.btn {
	color: $hovercolor;
	background: #fdd515;
	font-weight: bold;

	&:hover { color: #fff; }
}

.main {
	table { width: 100%; 
		tr {
			td {
				font-weight: bold;
				display: inline-block;
				padding-right: 10px;

				&:nth-child(3n+3) {
					display: block; font-weight: normal;
					margin-bottom: 1em;
				}
			}
		}
	}

	.right-col {
		border-top: 1px solid #0d244f;
		margin-top: 20px;
		padding-top: 20px;

		.col { margin-bottom: 20px; 
			.col-title {
				display: block;
				padding: 5px 0;
				background: #0d244f;
				color: #fdd515;
				text-align: center; 
				text-transform: uppercase;
				font-weight: bold;
				font-size: 1.3em;
			}
		}
	}
}
