.shops {
	.main > .wrapper { overflow: hidden; }
}

.shops-list {
		ul { list-style: none; padding: 0 0 0 20px; }
		li {
			position: relative;
			margin: 5px 0;
			a { color: $hovercolor; }
			> a { text-decoration: none; }
			&.active > a { font-weight: bold; }

			&:before {
				content: "\203A";
				position: absolute;
				top: -4px;
				left: -15px;

				text-align: center;
				color: #666;
				font-size: 26px;
				line-height: 1em;

				@include transform(rotate(90deg));
				@include transition(transform 300ms ease);
			}

			&.active:before {
				@include transform(rotate(-90deg) translateY(-4px));
			}

			.shop-info { 
				display: none; 
				font-size: 12px;
				margin-right: 20px;

				.links {
					padding: 10px 0;
					border-bottom: 1px solid #ccc;
				}
			}
		}
	}