// OFF CANVAS ENABLE //
body {
	position: relative;
	width: 100%;

	.wrap-all {
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	.wrap-all-inner {
		position: relative;
		width: 100%;
		left: 0;
		z-index: 2;
	}
}

.main {
	overflow: auto;

	img { max-width: 100%; height: auto; }
}


a {
	@include transition(color 200ms linear);
}

.wrapper {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
}

.body-text {
	width: 100%;

	ul { padding: 0 0 0 2em; }
}

.super-header { text-align: center; }

.main {
	> .wrapper {
		padding: 25px 10px;
	}
}

.btn {
	display: inline-block;
	border-radius: 3px;
	padding: 4px 10px;
	text-transform: uppercase;
	text-decoration: none;

	&.btn-full-width { width: 100%; text-align: center; }
}


/** THEME **/
body {
	.wrap-all-inner {
		background-color: #e2e2e2;
	}
}

.btn {
	color: #fff;
	border: 3px solid #fff;
	@include background-image(linear-gradient(#f9313d,#ca0608));

	&:hover { color: #fff; }
}

table {
	width: 100% !important;
	tr {
		td:nth-child(3n+3) {
			display: block;
			margin-bottom: 1em;
			font-weight: normal;
		}
	}
	td {
		display: inline-block;
		font-weight: bold;
		padding-right: 10px;
		
	}
}
.skemaBodyText {
	table { width: 100% !important; margin-bottom: 20px; 
		td { width: 75% !important; padding: 2px 0; }
		td + td { width: 25% !important;}
	}
}
#toldreglerTop ul {
	list-style: none;
	li { 
		display: inline-block;
		a {
			@extend .btn;

			&.active {
				font-weight: bold;
			}
		}
	}
}
#toldSkemaHolder {
	width: 100%;
	height: 260px;
	overflow: hidden;
	position: relative;
	margin: 20px 0;
	#toldSkema { width: 400%; position: absolute;
		.skemaBodyText {
			width: 25%;
			float: left;
		}
	}
}
